
<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('img/HTPBAN.jpg');"></div>
            <div class="carousel-caption">
                <h1 class="htp">Welcome To Holiday Travel Park!</h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('img/HTPBanner.jpg');"></div>
            <div class="carousel-caption">
                <h1 class="htp">Family Owned & Operated</h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('img/waterEx.jpg');"></div>
            <div class="carousel-caption">
                <h1 class="htp">Short-Term and Monthly Rentals Available</h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('img/playShuff.jpg');"></div>
            <div class="carousel-caption">
                <h1 class="htp">Family Fun for All Generations</h1>
            </div>
        </div>

    </div>

    <!-- Controls 
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a> -->

</div>

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3 class="htp"><i class="fa fa-check-circle"></i>EXPLORE</h3>
                <p>If you’re planning to explore the Gulf Coast, you won’t find a better spot to set up base camp. Downtown Tarpon Springs is only 10 minutes away, but you’ll definitely want to set aside plenty of time to relax in the park too. Hit the beach, the trails or just relax in camp. You’ve got lots of options.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3 class="htp"><i class="fa fa-pencil"></i>BUY or RENT</h3>
                <p>Whether you've got an RV, or you're ready to rent or buy a pre-built structure, all you need to do is add yourself to the picture! You can imagine why it's one of the best RV parks in Florida. Bring drinks, swim trunks and plenty of sunscreen for this one.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3 class="htp"><i class="fa fa-folder-open"></i>FUN in the SUN</h3>
                <p>Activities, you say? Yep, RV camping at HTP is pretty darn nice. Of course, it’s about as family friendly as it gets – pet friendly, too – and is an affordable lodging choice if you are planning to visit the area.  Give it a shot; you’ll definitely be surprised.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="htp">New 2016-2017 Season: Contract Lot Rent Rates</h2>
                <p>Year round - $383.00/Month - $4596/year *Must be 55+ 
6 Months & 1 Day - $319.00/Month - $3828/Year *Must be 55+
***Includes Water, Sewege, General Yard work & Garbage</p>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="htp">Daily Life, You Ask?</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="img/famFishing.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="img/HTPBanner2.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="img/bingo.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="img/poolLadies.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="img/shuffleboard.jpg">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="img/Flags.jpg">
                </a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2 class="htp">Holiday Travel Park's Features Include:</h2>
                <ul>
                    <li>Large Heated Pool</li>
                    <li>Friendly Community</li>
                    <li>Tons of Activities</li>
                    <li>Fishing Lakes</li>
                    <li>Minimal Custom CSS Styles</li>
                    <li>Family Owned & Operated</li>
                    <li>PLENTY OF SUNSHINE</li>                    
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="img/HTPBAN.jpg">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="img/HTPBanner2.jpg">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Looking to Buy or Rent?</h2>
                <p>Whether you've got an RV, or you're ready to rent or buy a pre-built structure, all you need to do is add yourself to the picture! You can imagine why it's one of the best RV parks in Florida. Bring drinks, swim trunks and plenty of sunscreen for this one.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
             <h4 class="htp">New 2016-2017 Season: Contract Lot Rent Rates</h4>
                <p>Year round - $383.00/Month - $4596/year *Must be 55+ 
6 Months & 1 Day - $319.00/Month - $3828/Year *Must be 55+
***Includes Water, Sewege, General Yard work & Garbage</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <a class="btn btn-lg btn-primary pull-right" href="https://dricardo1.github.io/HTP/#myCarousel">Find Out More!</a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
